@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fly {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Style pour la fusée */
.rocket-loader {
    animation: fly 2s linear infinite;
}